<h1><%= @patient.name %></h1>

Appointments:
<ul>
<% @patient.appointments.each do |appointment| %>
    <li><%= link_to appointment.doctor, doctor_path(appointment.doctor) %> at: <%= appointment.appointment_datetime %></li>
<% end %>
</ul>