<h2>Patients</h2>

<% @patients.each do |patient| %>
    <ul>
        <%= link_to patient.name, patient_path(patient) %><br>
        Number of Appointments: <%= patient.appointments.count %>
    </ul>
<% end %>