<h1>Patients List</h1>

<h3>Appointment Count</h3>
  <ul><% @patients.each do |patient| %>
    <li>Name: <%= patient.name %> Number of Appointments: <%= patient.appointments.size %></li>
  <% end %></ul>