<h1>Patients#index</h1>
<p>Find me in app/views/patients/index.html.erb</p>

<ul>
<%=@patients.each do |p|%>
    <li>Name: <%=link_to p.name, patients_path(p)%> Number of Appointments: <%=p.number_of_appointments%></li><br>
<% end %>
</ul>

