<ul>
  <% @patient.appointments.each do |appt| %>
    <li>
      <%= appt.appointment_datetime.to_date.to_formatted_s(:long)  %>
      at <%= appt.appointment_datetime.to_formatted_s(:time) %>
      - <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>
    </li>
  <% end %>
</ul>
