<h2><%= @patient.name %> </h2>

<% @patient.appointments.each do |appointment| %>
  <%= link_to appointment.appointment_datetime.strftime("%B %-d, %Y at %k:%M"), appointment_path(appointment) %>
  <br>
  <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
  <br>
  <br>
<% end %>