<h1><%= @patient.name %>'s Appointments</h1>

<% @patient.appointments.each do |appointment| %>
  <p><%= appointment.format_datetime %> - <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
<% end %>
