<ul> 
  <% @patient.appointments.each do |appt| %> 
  <li> <%= appt.appointment_datetime.strftime("%B %e, %Y at %H:%M")%> with <%= link_to appt.doctor.name, doctor_path(appt.doctor) %> </li>
  <% end %> 
</ul>




<!--describe "#show page" do-->
<!--    it "shows all of a patient's appointment times in a human readable format" do-->
<!--      visit patient_path(@bart)-->
<!--      expect(page).to have_content("January 11, 2016 at 20:20")-->
<!--    end-->

<!--    it "links to the doctor's show page by name for the doctor of each appointment" do-->
<!--      visit patient_path(@bart)-->
<!--      expect(page).to have_link("Meredith Grey", href: doctor_path(@meredith))-->
<!--    end-->