<h1>Patient <%= @patient.name %></h1>

<% @appointments.each do |appointment| %>
  <ul>
    <li> <%=link_to appointment.appointment_datetime.strftime("%B %d, %Y at %T"), appointment_path(appointment) %></li>
    <li>Doctor Name: <%=link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  </ul>
<% end %>
