  <% @patient.appointments.each do |appointment| %>
  <h3><%= appointment.appointment_datetime.strftime("%B %e, %Y") + " at " + appointment.appointment_datetime.strftime("%H:%M") %></h3>
  <p><%= link_to appointment.doctor.name, doctor_path(appointment.doctor)%></p>
  <% end %>