<h1><%= @patient.name %></h1>

Appointments:
<ul>
<% @patient.appointments.each do |appointment| %>
    <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %> at: <%= link_to appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M"), appointment_path(appointment) %></li>
<% end %>
</ul>