<h1><%= @patient.name %></h1>

<%= @patient.appointments.each do |app| %>

<ul>
<li><%= link_to app.doctor.name, doctor_path(app.doctor) %> - <%=app.appointment_datetime.strftime("%B %e, %Y at %k:%M")%></li>
  
</ul>


<% end%>