<h1><%= @patient.name %></h1>

Appointments: <br><br>
<ul>
<% @patient.appointments.each do |app| %>
  <li>
    Date: <%= app.appointment_datetime.strftime('%B %d, %Y') %> at <%= app.appointment_datetime.strftime('%k:%M') %><br>
    Doctor: <%= link_to app.doctor_name, doctor_path(app.doctor) %>
  </li>
<% end %>
</ul>