<h3>Patient</h3>

<%= @patient.name %> - <%= @patient.age %>

<ul>
<% @patient.appointments.each do |appointment| %>
<li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
<li><%=appointment.formatted_datetime%></li>
</ul>

<% end %>
