<h1><%= "#{@patient.name}: #{@patient.age}" %></h1>

<h3>Appointments</h3>
<ul>
  <% @patient.appointments.each do |appt| %>
    <li><%= link_to appt.doctor.name, doctor_path(appt.doctor) %> - <%= appt.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></li>
  <% end %>
</ul>