<ul>
    <% @patient.appointments.each do |appointment| %>
        <li><%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %> at <%= appointment.readable_appointment_time %></li>
    <% end %>
</ul>