<%= @patient.name %> <br />

<p>Appointments:</p>
<ul>
  <% @patient.appointments.each do |a| %>
    <li><%= a.appointment_datetime.strftime('%B %d, %Y') %> at <%= a.appointment_datetime.strftime('%H:%M') %>
      - <%= link_to a.doctor.name, doctor_path(a.doctor) %></li>
  <% end %>
</ul>
