<h1>Doctor information</h1>

<h2><%= @doctor.name %></h2>

<p>Department: <%= @doctor.department %></p>
<br>

Appointments:
<ul>
  <% @doctor.appointments.each do |appt| %>
  <li><%= link_to appt.patient.name, doctor_path(appt.patient) %> at <%= appt.appointment_datetime %></li>
  <% end %>
</ul>
