<h1>List of all the Doctors:</h1>

<ul>
    <% @doctors.each do |doctor| %>
        <li>
            <h2><a href='<%= doctor_path(doctor) %>'><%= doctor.name %></a></h2><br>
            <h3>patient load: <%= doctor.patients.count %></h3>
        </li>
    <% end %>
</ul>
