<h1>Doctor#show</h1>
<p>Find me in app/views/doctor/show.html.erb</p>
<% @doctor.appointments.each do |a| %>
<%= a.appointment_datetime.strftime("%B %e, %Y at %H:%M") %>
<%= link_to a.patient.name, patient_path(a.patient) %>
<% end %>
