<h3>Doctor</h3>

<%= @doctor.name %> - <%= @doctor.department %>

<ul>
<% @doctor.appointments.each do |appointment| %>
<li><%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
<li><%=appointment.formatted_datetime%></li>
</ul>

<% end %>
