<h2><%= @doctor.name %></h2>
<p>
  <%= @doctor.department %>
</p>
Comments:
  <% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> 
    <%= link_to appointment.patient.name, patient_path(appointment.patient)  %>
  <% end %>