 
<h2><%= @doctor.name %></h2>

Appointments:<br>
  <% @doctor.appointments.each do |appt| %>
    <%= link_to appt.appointment_datetime.strftime("%B %d, %Y at %H:%M"), appointment_path(appt) %>
    -- <%= link_to appt.patient.name, patient_path(appt.patient)%> <br>
  <% end %>