<h1>Doctor show</h1>

<%= @doctor.name %>
<br>
<%= @doctor.department %>
<br>
<% @doctor.appointments.each do |appointment| %>

<%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>

<br>

<%= link_to appointment.patient.name, appointment.patient %>

<% end %>