<h1>Doctors#show</h1>
<p>@doctor.name</p>
<ul>
    <%=@doctor.appointments.each do |a|%>
    <li><%= a.date_time%></li>
    <ul>
        <li><%= link_to a.patient_name, patient_path(a.patient)%></li><br>
    </ul>
    <%end%>
</ul>
