<% @doctor.appointments.each do |appointment| %>
  <p>
    <%= link_to appointment.display_formatted_time, appointment_path(appointment) %>
    with:
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  </p>
<% end %>
