<h1><%= @doctor.name %></h1>
<p><%= @doctor.department %></p>

<table>
	<caption><h2>Appointments</h2></caption>
	<thead>
		<tr>
			<th>Date and time</th>
			<th>Patient</th>
		</tr>
	</thead>
	<tbody>
		<% @doctor.appointments.each do |appointment| %>
			<tr>
				<td><%= appointment.date_and_time %></td>
				<td><%= link_to appointment.patient_name, patient_path(appointment.patient) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
