<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor.id) %>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient.id) %>
<p><%= @appointment.appointment_datetime.strftime("%B %d, %Y %H:%M") %></p>