<h1><%= @appointment.date_and_time %></h1>

<h2>Patient: <%= link_to @appointment.patient_name, patient_path(@appointment.patient) %></h2>

<p>Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %></p>
