<h1><u>Appointments for <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></u></h1>

<li><b>Doctor:</b> <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> - <%= @appointment.appointment_datetime %></li>
