<h1> Appointment Profile </h1>

<%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor_id) %>
<%= link_to @appointment.patient_name, patient_path(@appointment.patient_id) %><br>

<%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>