<h1>Appointment for <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h1>

<h3>With Doctor: </h3><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
<h3>For Patient: </h3><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
