<h1>Appointment Details</h1>

Date: <%= @appointment.appointment_datetime.strftime('%B %d, %Y') %> at <%= @appointment.appointment_datetime.strftime('%k:%M') %><br>
Patient: <%= link_to @appointment.patient_name, patient_path(@appointment.patient) %><br>
Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %>
