<h1>Appointment</h1>
<p>Doctor:</p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>

<p>Patient:</p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
